/* Custom CONVINCE theming for the RTD Sphinx theme */

@import 'theme.css';

/* Color variables */
:root {
    --convince-orange: #f59d27;
    --convince-green: #0e9594;
    --convince-pink: #e94667;
    --convince-orange-light: #face93;
    --convince-green-light: #86cac9;
    --convince-pink-light: #f4a2b3;
    --convince-orange-dark: #7a4e13;
    --convince-green-dark: #074a4a;
    --convince-pink-dark: #742333;
}

/* Side navigation top bit */
.wy-side-nav-search {
    background-color: darkgray;
}

/* Link on top of logo */
.wy-side-nav-search a {
    color: white;
}
.wy-side-nav-search a:hover {
    color: white;
}
.wy-side-nav-search a:visited {
    color: white;
}

/* Version in side bar */
.wy-side-nav-search > div.version {
   color: white;
}

/* Border of search field */
.wy-side-nav-search input[type="text"] {
    border-color: #000;
}

/* Side bar headers */
.wy-side-nav-title {
    background-color: var(--convince-orange);
}

/* Headers of boxes */
.rst-content .note .admonition-title, .rst-content .note .wy-alert-title, .rst-content .seealso .admonition-title, .rst-content .seealso .wy-alert-title, .rst-content .wy-alert-info.admonition-todo .admonition-title, .rst-content .wy-alert-info.admonition-todo .wy-alert-title, .rst-content .wy-alert-info.admonition .admonition-title, .rst-content .wy-alert-info.admonition .wy-alert-title, .rst-content .wy-alert-info.attention .admonition-title, .rst-content .wy-alert-info.attention .wy-alert-title, .rst-content .wy-alert-info.caution .admonition-title, .rst-content .wy-alert-info.caution .wy-alert-title, .rst-content .wy-alert-info.danger .admonition-title, .rst-content .wy-alert-info.danger .wy-alert-title, .rst-content .wy-alert-info.error .admonition-title, .rst-content .wy-alert-info.error .wy-alert-title, .rst-content .wy-alert-info.hint .admonition-title, .rst-content .wy-alert-info.hint .wy-alert-title, .rst-content .wy-alert-info.important .admonition-title, .rst-content .wy-alert-info.important .wy-alert-title, .rst-content .wy-alert-info.tip .admonition-title, .rst-content .wy-alert-info.tip .wy-alert-title, .rst-content .wy-alert-info.warning .admonition-title, .rst-content .wy-alert-info.warning .wy-alert-title, .rst-content .wy-alert.wy-alert-info .admonition-title, .wy-alert.wy-alert-info .rst-content .admonition-title, .wy-alert.wy-alert-info .wy-alert-title {
    background: var(--convince-green)
}

/* Content of boxes */
.rst-content .note, .rst-content .seealso, .rst-content .wy-alert-info.admonition, .rst-content .wy-alert-info.admonition-todo, .rst-content .wy-alert-info.attention, .rst-content .wy-alert-info.caution, .rst-content .wy-alert-info.danger, .rst-content .wy-alert-info.error, .rst-content .wy-alert-info.hint, .rst-content .wy-alert-info.important, .rst-content .wy-alert-info.tip, .rst-content .wy-alert-info.warning, .wy-alert.wy-alert-info {
    background: var(--convince-green-light);
}

/* Boxes in api documentation */
html.writer-html4 .rst-content dl:not(.docutils) > dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) > dt {
    background: var(--convince-green-light);
    color: var(--convince-green-dark);
    border-top: 3px solid var(--convince-green);
    padding: 6px;
    position: relative;
}

/* All links */
a {
    color: var(--convince-pink);
}

/* Links on hover */
a:hover {
    color: var(--convince-pink-light);
}

/* Visited links */
a:visited {
    color: var(--convince-orange);
}