name: Deploy
# Deploy sphinx documentation to GitHub Pages in docs branch

on:
    # Triggers the workflow on push or pull request events but only for the "main" branch
    push:
        branches: [ "main" ]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            # Checkout the repository
            - name: Checkout repository
              uses: actions/checkout@v2
            # install the dependencies
            - name: Install dependencies
              run: pip install -r docs/requirements.txt
            # build the documentation
            - name: Build documentation
              run: |
                    cd docs
                    make html
            # upload the documentation to GitHub Pages
            - name: Upload artifact
              uses: actions/upload-pages-artifact@v3
              with:
                    path: docs/build/html
    deploy:
        # Add a dependency to the build job
        needs: build

        # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
        permissions:
            pages: write      # to deploy to Pages
            id-token: write   # to verify the deployment originates from an appropriate source

        # Deploy to the github-pages environment
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}

        runs-on: ubuntu-latest

        steps:
            # deploy the documentation to GitHub Pages
            - name: Deploy to github pages
              id: deployment
              uses: actions/deploy-pages@v4